body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d8c9d0;
  color: #333;
}

header {
  background-color: #d2dad2;
  color: rgb(13, 70, 108);
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
  background: white;
  padding: 15px;
  border-radius: 8px;
}

footer {
  background-color: #ddd;
  text-align: center;
  padding: 10px;
}

